body {
  font-family: Arial, Helvetica, sans-serif;
}
.main-container {
  max-width: 1530px;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}
.title {
  display: flex;
  align-items: center;
  line-height: 51.25px;
}
.title > h1 {
  margin-left: 10px;
  font-size: 70px;
  font-weight: 500;
}
#icon {
  width: 62.5px;
  height: 51.25px;
}
.library-log {
  border: 1px black solid;
  border-radius: 3px;
  width: 300px;
  line-height: 60%;
}
.library-log > h2 {
  text-align: center;
}
.library-log > p {
  text-align: left;
  margin-left: 30px;
}
.library-bar {
  display: flex;
  border-radius: 5px;
  background: linear-gradient(135deg, #cecdcd 0%, #5d6874 50%, #cecdcd 100%);
  justify-content: space-between;
  align-items: center;
}
#add-book-btn {
  height: 30px;
  width: 30px;
  border: none;
  margin-right: 10px;
  border-radius: 50%;
}
.book-list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px,500px));
  row-gap: 10px;
  column-gap: 10px;
}
.book-card {
  position: relative;
  border-radius: 10px;
  width: 450px;
  height: 300px;
  overflow: hidden;
  color: black;
  display: flex;
}
.cover-img {
  display: block;
  height: 300px;
  width: 200px;
}
.info-div {
  position: relative;
  background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
  max-width: 250px;
  width: 250px;
  height: 300px;
}
.book-info {
  text-align: center;
  margin-top: 60px;
}
.card-buttons {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.card-buttons > button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  margin-bottom: 0px;
}
.read-status {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.read-text {
  text-align: center;
  margin-bottom: 5px;
}
.slide-container {
  position: relative;
  width: 80px;
  height: 30px;
}
.slide-container > input {
  width: 100%;
  height: 100%;
  display: none;
}
.slide {
  position: relative;
  cursor: pointer;
  margin: auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(117, 53, 53) 0%, rgb(207, 35, 35) 100%);
  border-radius: 50px;
}
.slide:before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

.slide-container > input:checked + .slide {
  background: linear-gradient(90deg,rgb(76, 177, 76) 0%, green 100%);
}

.slide-container > input:checked + .slide:before {
  left: 53px;
  transition: 0.4s;
} 
.form-container {
  position: absolute;
  width: 99%;
  height: 99%;
  display: none;
  align-items: center;
  justify-content: center;
}
.book-form {
  margin: auto;
  display: none;
  position: fixed;
  flex-direction: row;
  align-items: center;
  background-color: white;
  text-align: left;
  width: 400px;
  border-radius: 5px;
  height: 580px;
  z-index: 200;
}
.book-form > h2 {
  text-align: center;
}
.book-form > label, input{
  display: block;
  margin: auto;
  padding: 5px;

}
label {
  width: fit-content;
  padding: 10px;
}

#opaque {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  background-color: black;
  opacity: 0.6;
}


@media (max-width: 720px) {
  header {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .book-info {
    margin-top: 15px;
  }
  .read-status {
    position: relative;
    left: 0px;
  }
  .card-buttons {
    position: relative;
    left: 0px;
  }
}