body {
  height: 100vh;
  background: rgb(28,34,34);
  background: linear-gradient(0deg, rgba(28,34,34,1) 0%, rgba(44,38,73,1) 100%);
}
h1 {
  margin: auto;
  width: fit-content;
}
.book-card {
  position: relative;
  border-radius: 25px;
  background-color: indigo;
  background-image: linear-gradient(180deg, white 0%, black 50%, grey 100% );
  background-size: 540px 740px;
  background-position: -40px -40px;
  width: 500px;
  height: 300px;
  text-align: center;
  overflow: hidden;
  color: white;
  display: flex;
}
.book-card > #edit-btn {
  bottom: -10px;
  right: -10px;
}
.book-card > #delete-btn {
  bottom: -10px;
  left: -10px;
}
.book-card > button {
  height: 50px;
  width: 50px;
}
.book-card > i {
  margin: auto;
}
#img-container {
  width: 400px;
  height: 300px;
}
#img-container > img {
  position: fixed;
  width: 200px;
  height: 300px;
  border-radius: 25px 0px 0px 25px;
  display: block;
}
#book-info {
  width: 100%;
}
.card-buttons {
  background-color: transparent;
}
.books-list {
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 15px;
  row-gap: 30px;
}
.book-form {
  display: none;
  background-color: aqua;
  position: fixed;
  left: 30%;
  top: 20%;
  border-style: solid;
  opacity: 1;
  text-align: center;
  width: 400px;
  height: 580px;
  z-index: 200;
}
.book-form > label{
  display: block;
}
#identification {
  display: none;
}
#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
main {
  width: 100%;
}
#side-bar {
  border-left: black solid;
  width: 300px;
  height: 100%;
}
#side-bar > h2 {
  text-align: center;
}
#side-bar > p {
  margin-left: 10px;
}
.add-book-btn {
  width: 100px;
  height: 50px;
  margin-left: 100px;
}
#opaque {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  background-color: black;
  opacity: 0.6;
}